# MongoDB Atlas connection string (required for production)
# Create a database user and cluster at https://cloud.mongodb.com
# Example: mongodb+srv://<username>:<password>@<cluster>.mongodb.net
MONGODB_URI="mongodb+srv://<db_username>:gpnqyjBAQJoGiIDE@blog.6l0lzqe.mongodb.net/"
MONGODB_PASSWORD="gpnqyjBAQJoGiIDE"
MONGO_DB_NAME="benbraikilyas9_db_user"

# Django
DJANGO_SECRET_KEY=replace-me-with-a-random-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
